In [2]:
import os
import sys
import requests

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

current_dir = os.path.dirname(os.path.abspath("__file__"))
project_root = os.path.abspath(os.path.join(current_dir, '..'))
sys.path.insert(0, project_root)

print("Current sys.path:")
print(sys.path)

try:
    from packages.utils import get_total_stats
    print("Module loaded successfully!")
except ModuleNotFoundError:
    print("Module still not found. Check sys.path and package structure.")

Current sys.path:
['/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Ball-Dont-Lie-API', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python39.zip', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python3.9', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python3.9/lib-dynload', '', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python3.9/site-packages']
Module loaded successfully!

In [3]:
dotenv_path = ("/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Ball-Dont-Lie-API/dot.env")
load_dotenv(dotenv_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
TABLE_NAME = "Total_Stats"

DB_USER = os.getenv("DB_USER")

engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}')

In [4]:
years = [str(year) for year in range(1980, 2025)]
all_data= pd.DataFrame()

for year in years:
  base_url = f"https://www.basketball-reference.com/leagues/NBA_{year}.html"
  response = requests.get(base_url)
  soup = BeautifulSoup(response.text, "html.parser")
  try:
    year = int(year)
    df = get_total_stats(soup, year)
    all_data = pd.concat([all_data, df])
  except Exception as error:
    print(f" The error is {error}")

 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'

In [5]:
try:
    all_data.to_sql(TABLE_NAME, engine, if_exists='replace', index=False)
    print("Data successfully written to the database.")
except Exception as e:
    print(f"Database operation failed. Error: {e}")

Data successfully written to the database.

In [6]:
all_data

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season
0,1,NaN,82,19755,3856,7738,0.498,52,206,0.252,...,1153,2515,3668,2326,771,333,1589,2103,9788,1980
1,2,NaN,82,19880,3898,7368,0.529,20,100,0.200,...,1085,2653,3738,2413,774,546,1639,1784,9438,1980
2,3,NaN,82,19930,3811,8041,0.474,36,187,0.193,...,1307,2381,3688,2108,764,342,1370,1934,9360,1980
3,4,NaN,82,19780,3802,7672,0.496,42,191,0.220,...,1236,2303,3539,2265,881,457,1613,2168,9344,1980
4,5,NaN,82,19880,3617,7387,0.490,162,422,0.384,...,1227,2457,3684,2198,809,308,1539,1974,9303,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,26,NaN,82,19780,3323,7074,0.470,883,2551,0.346,...,833,2713,3546,1906,603,382,1236,1652,9136,2023
26,27,NaN,82,19830,3385,7413,0.457,881,2669,0.330,...,901,2751,3652,2062,634,425,1164,1661,9098,2023
27,28,NaN,82,19755,3329,7287,0.457,856,2619,0.327,...,1100,2695,3795,1835,600,374,1332,1679,9081,2023
28,29,NaN,82,19805,3244,7140,0.454,934,2659,0.351,...,916,2564,3480,1884,574,308,1237,1813,9045,2023
29,30,NaN,82,19805,3215,6991,0.460,980,2852,0.344,...,796,2533,3329,1955,655,243,1106,1516,8977,2023