In [16]:
import os
import sys
import requests

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

current_dir = os.path.dirname(os.path.abspath("__file__"))
project_root = os.path.abspath(os.path.join(current_dir, '..'))
sys.path.insert(0, project_root)

print("Current sys.path:")
print(sys.path)

try:
    from packages.utils import get_total_stats
    print("Module loaded successfully!")
except ModuleNotFoundError:
    print("Module still not found. Check sys.path and package structure.")

Current sys.path:
['/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Ball-Dont-Lie-API', '/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Ball-Dont-Lie-API', '/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Ball-Dont-Lie-API', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python39.zip', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python3.9', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python3.9/lib-dynload', '', '/Users/maukanmir/miniforge3/envs/web-scraping/lib/python3.9/site-packages']
Module loaded successfully!

In [8]:
dotenv_path = ("/Users/maukanmir/Documents/Machine-Learning/Web-Scraping-Code/Ball-Dont-Lie-API/dot.env")
load_dotenv(dotenv_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
TABLE_NAME = "Total_Stats"

DB_USER = os.getenv("DB_USER")

engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}')

In [9]:
years = [str(year) for year in range(1980, 2025)]
all_data= pd.DataFrame()

for year in years:
  base_url = f"https://www.basketball-reference.com/leagues/NBA_{year}.html"
  response = requests.get(base_url)
  soup = BeautifulSoup(response.text, "html.parser")
  try:
    year = int(year)
    df = get_total_stats(soup, year)
    all_data = pd.concat([all_data, df])
  except Exception as error:
    print(f" The error is {error}")

 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'
 The error is 'NoneType' object has no attribute 'find'

In [10]:
try:
    all_data.to_sql(TABLE_NAME, engine, if_exists='replace', index=False)
    print("Data successfully written to the database.")
except Exception as e:
    print(f"Database operation failed. Error: {e}")

Data successfully written to the database.

In [11]:
all_data

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season
0,1,NaN,82,19880,3767,7427,0.507,254,763,0.333,...,1137,2376,3513,2064,854,375,1353,2049,9732,1992
1,2,NaN,82,19955,3498,7079,0.494,333,940,0.354,...,1083,2564,3647,2398,705,393,1402,2137,9197,1992
2,3,NaN,82,19805,3553,7219,0.492,227,596,0.381,...,1088,2558,3646,2202,673,582,1242,1852,9194,1992
3,4,NaN,82,19880,3476,7352,0.473,325,944,0.344,...,1294,2549,3843,2065,753,410,1328,1983,9135,1992
4,5,NaN,82,19830,3643,7168,0.508,138,454,0.304,...,1173,2439,3612,2279,672,480,1088,1693,9011,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,26,NaN,82,19730,2971,6429,0.462,502,1427,0.352,...,762,2460,3222,1802,497,341,1118,1554,7790,2011
26,27,NaN,82,19830,2944,6416,0.459,444,1232,0.360,...,824,2468,3292,1691,624,359,1069,1719,7784,2011
27,28,NaN,82,20005,2918,6638,0.440,459,1337,0.343,...,909,2440,3349,1723,458,384,1152,1807,7722,2011
28,29,NaN,82,19805,2873,6365,0.451,393,1203,0.327,...,848,2444,3292,1728,524,433,1192,1637,7650,2011
29,30,NaN,82,19830,2814,6544,0.430,483,1414,0.342,...,862,2480,3342,1545,617,399,1103,1682,7534,2011

In [20]:
base_url = f"https://www.basketball-reference.com/leagues/NBA_{2025}.html"
response = requests.get(base_url)

In [35]:
def extract_table_data(soup, table_id):
    """Extracts all data from a table in a BeautifulSoup object."""
    table = soup.find("table", {"id": table_id})
    
    if not table:
        raise ValueError(f"Table with id='{table_id}' not found in the soup object.")

    # Extract headers
    headers = [header.text.strip() for header in table.find("thead").find_all("th")]

    # Extract rows from the <tbody>
    rows = []
    for row in table.find("tbody").find_all("tr"):
        cells = row.find_all(["th", "td"])
        rows.append([cell.text.strip() for cell in cells])

    # Convert to DataFrame
    df = pd.DataFrame(rows, columns=headers)
    
    return df

try:
    df = extract_table_data(soup, "per_game-team")
    print(df)
except ValueError as e:
    print(e)

Table with id='per_game-team' not found in the soup object.